/*#2C3845 #202932*/
h1 {
    padding: 15px;
}
.table-container {
    padding: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: #fff;
}

thead {
    background-color: #202932;
}

th, td {
    border: 1px solid #202932;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #2C3845;
}

tr:nth-child(odd) {
    background-color: #4a5b6eaf;
}


button {
    line-height: 1;
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    margin-left: 15px;
    background-color: #4B908F;
    cursor: pointer;
}

button:hover {
    background-color: #2b5858;
}