.cliente-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .cliente-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    width: 800px;
    background-color: #232c36;
    border-radius: 5px;
  }

  .cliente-modal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #3f4c5a;
    color: #acaeaf;
    padding: 8px 20px;
  }

  .cliente-modal-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 0 20px;
  }

  .cliente-modal-content div {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
  }

  .cliente-modal-content label {
    width: 170px;
    text-align: right;
    color: #acaeaf;
    font-size: 1rem;
    font-weight: 600;
  }

  .cliente-modal-content input {
    width: 100%;
  }

  .cliente-modal-content input, .cliente-modal-content select {
    background-color: #14191f;
    border: none;
    border-radius: 4px;
    color: #aaa;
    padding: 5px;
  }

  .cliente-modal-content input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  .cliente-modal-content select {
    padding: 2px 8px;
  }

  .cliente-modal-content select#ativo {
    width: 80px;
    height: 26px;
  }

  .cliente-modal-button-container {
    justify-content: end;
    padding-bottom: 20px;
  }

  .cliente-modal-button-container button {
    padding: 5px 17px;
    margin: 0;
    font-size: 1rem;

    /*Loading conf*/
    display: flex;
    flex-direction: row;
    gap: 10px;

    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background-color: #4B908F;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(48, 94, 94, 0.4);
  }

  .cliente-modal-button-container button:hover {
    background-color: #2b5858;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }